<!-- titulo de la pagina -->
<div class="text_center title-page back-ground-title">
  Parametrizaciones Iniciales del Sistema
</div>
<br/>

<!-- lista de modulos -->
<ul class="nav nav-tabs">

  <li role="presentation" *ngFor="let modulo of modulos">
    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" [ngClass]="(modulo.cerradoModulo) ? 'pa_tab_seleccionado' : 'pa_tab_no_seleccionado'">
       <i [ngClass]="(modulo.idModulo == 1)?'fa fa-fw fa-envelope':(modulo.idModulo == 2)?'fa fa-fw fa-folder-open':(modulo.idModulo == 3)?'fa fa-fw fa-graduation-cap':''"></i> {{modulo.nombreModulo}} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li *ngFor="let item of modulo.itemsMenu; let first = first; let last = last" [ngClass]="(item.seleccionado) ? (first) ? 'pa_item_seleccionado pa_first' : (last) ? 'pa_item_seleccionado pa_last' : 'pa_item_seleccionado pa_other' : (first) ? 'pa_first' : (last) ? 'pa_last': 'pa_other'">
        <a (click)="clicItem(item,modulo)" [ngClass]="(item.seleccionado) ? (last) ? 'sin_border_divisor color_white' : 'border_divisor color_white' : (last) ? 'sin_border_divisor' : 'border_divisor'">
          <i class="fa fa-fw fa-angle-double-right"></i> {{item.nombreItem}}
        </a>
      </li>
    </ul>
  </li>
</ul>