<!-- titulo de la pagina -->
<div class="text_center title-page back-ground-title">
  Parametrizaciones Iniciales del Sistema
</div>
<br/>

<!-- lista de modulos -->
<ul class="nav nav-tabs">

  <li role="presentation" *ngFor="let modulo of modulos">
    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" [ngClass]="(modulo.cerradoModulo) ? 'pa_tab_seleccionado' : 'pa_tab_no_seleccionado'">
       <i [ngClass]="(modulo.idModulo == 1)?'fa fa-fw fa-envelope':(modulo.idModulo == 2)?'fa fa-fw fa-folder-open':(modulo.idModulo == 3)?'fa fa-fw fa-graduation-cap':''"></i> {{modulo.nombreModulo}} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li *ngFor="let item of modulo.itemsMenu; let first = first; let last = last" [ngClass]="(item.seleccionado) ? (first) ? 'pa_item_seleccionado pa_first' : (last) ? 'pa_item_seleccionado pa_last' : 'pa_item_seleccionado pa_other' : (first) ? 'pa_first' : (last) ? 'pa_last': 'pa_other'">
        <a (click)="clicItem(item,modulo)" [ngClass]="(item.seleccionado) ? (last) ? 'sin_border_divisor color_white' : 'border_divisor color_white' : (last) ? 'sin_border_divisor' : 'border_divisor'">
          <i class="fa fa-fw fa-angle-double-right"></i> {{item.nombreItem}}
        </a>
      </li>
    </ul>
  </li>
</ul>

<!-- ******************** Modulo de correspondencia - inicio ************************ -->
<!-- Item para Tipos consecutivos correspondencia -->
<div *ngIf="itemSeleccionado?.idItem == CORRESPONDENCIA_ITEM1">
  <p>
    Tipos consecutivos correspondencia
  </p>
</div>

<!-- Item para Series documentales -->
<div *ngIf="itemSeleccionado?.idItem == CORRESPONDENCIA_ITEM2">
  <p>
    Series documentales
  </p>
</div>

<!-- Item para Funcionarios -->
<div *ngIf="itemSeleccionado?.idItem == CORRESPONDENCIA_ITEM3">
  <pa-common-items [item]="itemSeleccionado" [modulo]="moduloSeleccionado"></pa-common-items>
</div>

<!-- Item para Cargue consecutivos correspondencia -->
<div *ngIf="itemSeleccionado?.idItem == CORRESPONDENCIA_ITEM4">
  <p>
    Cargue consecutivos correspondencia
  </p>
</div>

<!-- Item para Cierre de anio -->
<div *ngIf="itemSeleccionado?.idItem == CORRESPONDENCIA_ITEM5">
  <p>
    Cierre de año
  </p>
</div>
<!-- ******************** Modulo de correspondencia - final ************************ -->


<!-- ******************** Modulo de solicitud certificados - inicio **************** -->
<!-- Item para Tipos de Solicitud para Certificados Tiempo Servicios y Salarios -->
<div *ngIf="itemSeleccionado?.idItem == SOLICITUD_CERTIFICADO_ITEM1">
  <pa-common-items [item]="itemSeleccionado" [modulo]="moduloSeleccionado"></pa-common-items>
</div>

<!-- Item para Destinos para Certificados Tiempo Servicios y Salarios -->
<div *ngIf="itemSeleccionado?.idItem == SOLICITUD_CERTIFICADO_ITEM2">
  <pa-common-items [item]="itemSeleccionado" [modulo]="moduloSeleccionado"></pa-common-items>
</div>

<!-- Item para Destinos para Certificados Carta Laboral -->
<div *ngIf="itemSeleccionado?.idItem == SOLICITUD_CERTIFICADO_ITEM3">
  <pa-common-items [item]="itemSeleccionado" [modulo]="moduloSeleccionado"></pa-common-items>
</div>

<!-- Item para Grados de Escalafón del Docente -->
<div *ngIf="itemSeleccionado?.idItem == SOLICITUD_CERTIFICADO_ITEM4">
  <p>
    Grados de Escalafón del Docente
  </p>
</div>

<!-- Item para Tipos de Vinculación del Docente -->
<div *ngIf="itemSeleccionado?.idItem == SOLICITUD_CERTIFICADO_ITEM5">
  <p>
    Tipos de Vinculación del Docente
  </p>
</div>

<!-- Item para Tipos de Cargo del Docente -->
<div *ngIf="itemSeleccionado?.idItem == SOLICITUD_CERTIFICADO_ITEM6">
  <p>
    Tipos de Cargo del Docente
  </p>
</div>

<!-- Item para Instituciones Educativas -->
<div *ngIf="itemSeleccionado?.idItem == SOLICITUD_CERTIFICADO_ITEM7">
  <p>
    Instituciones Educativas
  </p>
</div>

<!-- Item para Configuración de Impresión para Certificados Solicitados -->
<div *ngIf="itemSeleccionado?.idItem == SOLICITUD_CERTIFICADO_ITEM8">
  <p>
    Configuración de Impresión para Certificados Solicitados
  </p>
</div>

<!-- Item para Cargue de Certificados Solicitados -->
<div *ngIf="itemSeleccionado?.idItem == SOLICITUD_CERTIFICADO_ITEM9">
  <p>
    Cargue de Certificados Solicitados
  </p>
</div>

<!-- Item para Cierre de Año -->
<div *ngIf="itemSeleccionado?.idItem == SOLICITUD_CERTIFICADO_ITEM10">
  <p>
    Cierre de Año
  </p>
</div>
<!-- ******************** Modulo de solicitud certificados - final **************** -->


<!-- ******************** Modulo demandas - inicio ******************************** -->
<!-- Item para Demandados -->
<div *ngIf="itemSeleccionado?.idItem == DEMANDAS_ITEM1">
  <pa-common-items [item]="itemSeleccionado" [modulo]="moduloSeleccionado"></pa-common-items>
</div>

<!-- Item para Tipos de Proceso -->
<div *ngIf="itemSeleccionado?.idItem == DEMANDAS_ITEM2">
  <pa-common-items [item]="itemSeleccionado" [modulo]="moduloSeleccionado"></pa-common-items>
</div>

<!-- Item para Despachos Judiciales -->
<div *ngIf="itemSeleccionado?.idItem == DEMANDAS_ITEM3">
  <pa-common-items [item]="itemSeleccionado" [modulo]="moduloSeleccionado"></pa-common-items>
</div>

<!-- Item para Tipos del Caso -->
<div *ngIf="itemSeleccionado?.idItem == DEMANDAS_ITEM4">
  <pa-common-items [item]="itemSeleccionado" [modulo]="moduloSeleccionado"></pa-common-items>
</div>
<!-- ******************** Modulo demandas - inicio ******************************** -->

<!-- ventana de confirmacion  -->
<p-confirmDialog width="550" acceptLabel="Aceptar" rejectLabel="Cancelar" id="mdl_confirm_seguridad"></p-confirmDialog>