<!-- titulo de la pagina -->
<div class="text_center title-page back-ground-title">
  Seguridad del Sistema
</div>
<br/>

<!-- tab items visualizar -->
<ul class="nav nav-tabs">
  <li role="presentation" [class.active]="ADMIN_ROLES == itemSeleccionado"><a (click)="showTabItem(ADMIN_ROLES)" [ngStyle]="(ADMIN_ROLES == itemSeleccionado) ? style_tab_selected : style_tab_not_selected">Administración de Roles</a></li>
  <li role="presentation" [class.active]="ADMIN_USER == itemSeleccionado"><a (click)="showTabItem(ADMIN_USER)" [ngStyle]="(ADMIN_USER == itemSeleccionado) ? style_tab_selected : style_tab_not_selected">Administración de Usuarios</a></li>
</ul>

<!-- panel cuando no hay item seleccionado -->
<div *ngIf="!itemSeleccionado" class="panel panel-default center-all" style="min-height: 300px;">
  <p class="sub-title-home">Seleccione en la parte superior el tipo de</p>
  <p class="sub-title-home" style="color: #C45246">&nbsp;configuración</p>
  <p class="sub-title-home">&nbsp;que desea registrar</p>
</div>

<!-- panel para el item de admin ROLE -->
<div class="panel panel-default" *ngIf="ADMIN_ROLES == itemSeleccionado">
  <app-admin-roles></app-admin-roles>
</div>

<!-- panel para el item de admin USER -->
<div class="panel panel-default" *ngIf="ADMIN_USER == itemSeleccionado">
  <app-admin-users></app-admin-users>
</div>

<!-- modal para la visualizacion del los privilegios para un ROLE -->
<modal-role-privilegios></modal-role-privilegios>

<!-- ventana de confirmacion para las configuraciones -->
<p-confirmDialog width="500" acceptLabel="Aceptar" rejectLabel="Cancelar"></p-confirmDialog>