<!-- titulo de la pagina -->
<div class="text_center sub-title-page_conf">
    {{modulo.nombreModulo+' / '+item.nombreItem}}
</div>
<alert></alert>

<!-- formulario del nombre del ITEM-->
<br/>
<form name="form" #f="ngForm" (ngSubmit)="onSubmit() && f.form.valid && insertarItemParametrico()" (keydown.enter)="$event.preventDefault()" class="form-inline pa_form" novalidate>
    <div class="row pa_from_div">
        <!-- nombre item con button agregar-->
        <div class="form-group col-md-6 paddin_lef_zero">
            <input type="text" [(ngModel)]="nombre" name="nombreItem" #nombreItem="ngModel" 
             [ngClass]="(submitted && !nombreItem.valid) ? 'form-control input-invalido':'form-control input-valido'"
              maxlength="100" placeholder="Este campo es requerido" myNoSpaces style="width: 75%" />
            <button type="submit" class="btn btn-primary" title="Clic aquí para agregar un nuevo registro" style="width: 110px">Agregar</button>
        </div>

        <!-- buttons aplicar cambios y cancelar-->
        <div class="form-group col-md-6 pa_buttons">
            <button type="button" class="btn btn-primary" title="Clic aquí para guardar los cambios aplicados" style="width: 130px">Aplicar Cambios</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-default" title="Clic aquí para cancelar la edición" style="width: 130px">Cancelar Edición</button>
        </div>
    </div>
</form>

<!-- tabla con la lista de items -->
<p-dataTable [value]="items" [responsive]="true" [rows]="15" [paginator]="true" emptyMessage="No se encontraron registros en el sistema." selectionMode="single">
    <p-column header="{{item.nombreItem}}" field="nombre" [style]="{'text-align':'center'}" [filter]="true" filterPlaceholder="Filtro de búsqueda"></p-column>
    <p-column [style]="{'width':'5%','text-align':'center'}" header="Editar">
        <ng-template let-item="rowData" pTemplate="body">
            <span class="glyphicon glyphicon-edit cursor-manito" title="Clic aquí para editar este registro"></span>
        </ng-template>
    </p-column>
    <p-column [style]="{'width':'6%','text-align':'center'}" header="Eliminar">
        <ng-template let-item="rowData" pTemplate="body">
            <span class="glyphicon glyphicon-trash cursor-manito" (click)="eliminarItemParametrico(item)" title="Clic aquí para eliminar este registro"></span>
        </ng-template>
    </p-column>
</p-dataTable>