<!-- titulo de la pagina -->
<div class="text_center sub-title-page_conf">
    {{rolCrearEditar ? rolCrearEditar.idRole ? 'Administración de Roles / Editar ROL' : 'Administración de Roles / Crear ROL' : 'Administración de Roles'}}  
</div>
<alert></alert>

<!-- tabla con la lista de roles parametrizados -->
<div *ngIf="!rolCrearEditar">
    <div class="cpm_right">
        <button type="button" class="btn btn-primary" (click)="abrirPanelCrearROL()" title="Clic aquí para abrir el panel de creación del ROL">Crear ROL</button>
    </div>
    <p-dataTable [value]="roles" [responsive]="true" [rows]="10" [paginator]="true" emptyMessage="No hay roles registrados en el sistema." selectionMode="single">
        <p-column header="Lista de Roles parametrizados en el sistema" field="nombre" [style]="{'text-align':'center'}"></p-column>
        <p-column [style]="{'width':'8%','text-align':'center'}" header="Privilegios">
            <ng-template let-item="rowData" pTemplate="body">
                <span class="glyphicon glyphicon-share cursor-manito" (click)="verDetalleRol(item)" 
                 title="Clic aquí para ver los privilegios de este ROL"></span>
            </ng-template>
        </p-column>

        <p-column [style]="{'width':'5%','text-align':'center'}" header="Editar">
            <ng-template let-item="rowData" pTemplate="body">
                <span class="glyphicon glyphicon-edit cursor-manito" (click)="abrirPanelEdicionROL(item)"
                 title="Clic aquí para editar los valores de este ROL"></span>
            </ng-template>
        </p-column>

        <p-column [style]="{'width':'6%','text-align':'center'}" header="Eliminar">
            <ng-template let-item="rowData" pTemplate="body">
                <span class="glyphicon glyphicon-trash cursor-manito" (click)="eliminarRol(item)"
                title="Clic aquí para eliminar este ROL del sistema"></span>
            </ng-template>
        </p-column>
    </p-dataTable>
</div>

<!-- panel creacion, edicion ROL -->
<br *ngIf="rolCrearEditar"/>
<div *ngIf="rolCrearEditar">

    <!-- formulario del nombre del ROL-->
    <form name="form" #f="ngForm" (ngSubmit)="onSubmit() && f.form.valid && crearEditarROLsistema()" (keydown.enter)="$event.preventDefault()" novalidate class="form-inline" style="padding:4px">
        <div class="form-group">
            <label for="nombreRol">Nombre del Rol*:</label>
            <input type="text" [(ngModel)]="rolCrearEditar.nombreRole" name="nombreRol" #nombreRol="ngModel" 
             [ngClass]="(submitted && !nombreRol.valid) ? 'form-control input-invalido':'form-control input-valido'"
             maxlength="100" size="60" placeholder="Este campo es requerido" myNoSpaces/>
        </div>
        <button type="submit" class="btn btn-primary" title="Clic aquí para guardar los cambios en el sistema">{{rolCrearEditar.idRole ? 'Editar ROL' : 'Crear ROL' }}</button> &nbsp;
        <button type="button" class="btn btn-default" (click)="cerrarPanelRoles()" title="Clic aquí para regresar a la lista de ROLES">Cancelar</button>
    </form>

    <!-- datagrid con los roles del sistema-->
    <p-dataGrid [value]="rolCrearEditar.modulos">
        <p-header>
            Seleccione los ítems que tendrá privilegios este ROL
        </p-header>

        <!-- se recorre los modulos-->
        <ng-template let-modulo pTemplate="modulo">

            <!-- por cada modulo se muestra un panel-->
            <div class="panel panel-info admin_modulos">

                <!-- encabezado del panel-->
                <div class="panel-heading text_center center-all sin_padding">
                    <i [ngClass]="(modulo.idModulo == 1)?'fa fa-fw fa-envelope':(modulo.idModulo == 2)?'fa fa-fw fa-folder-open':(modulo.idModulo == 3)?'fa fa-fw fa-graduation-cap':(modulo.idModulo == 4)?'fa fa-fw fa-wrench':''"></i>{{modulo.nombreModulo}}
                </div>

                <!-- cuerpo del panel-->
                <div class="panel-body sin_padding">
                    <ul class="list-group sin_margin_bottom">

                        <!-- se recorre los items de este modulo-->
                        <li *ngFor="let item of modulo.itemsMenu" class="list-group-item items_border">

                            <!-- por cada items se muestra un check-->
                            <p-checkbox name="nameItems" [(ngModel)]="item.seleccionado" binary="true" label="{{item.nombreItem}}" (onChange)="onchangeItem(item)"></p-checkbox>
                            <ul class="list-group sin_margin_bottom" *ngIf="item.seleccionado && item.privilegiosEspecificosDTO">

                                <!-- se recorre los privilegios especificos de este item-->
                                <li *ngFor="let especifico of item.privilegiosEspecificosDTO" class="list-group-item items_border" style="border: 0px">

                                    <!-- por cada privilegio especifico se muestra un check-->
                                    <p-checkbox name="nameEspecifico" [(ngModel)]="especifico.seleccionado" binary="true" label="{{especifico.tipoPrivilegio == 1 ? '¿Este Rol es para funcionarios quién atiende al solicitante?' :
                                                especifico.tipoPrivilegio == 2 ? '¿Este Rol es para funcionarios quién elabora el certificado?' : 
                                                especifico.tipoPrivilegio == 3 ? 'Permitir ANULAR, ACTIVAR abogados' :
                                                especifico.tipoPrivilegio == 4 ? 'Permitir ELIMINAR procesos' :
                                                especifico.tipoPrivilegio == 5 ? 'Permitir EDITAR procesos' :
                                                especifico.tipoPrivilegio == 6 ? 'Permitir TRANSFERIR procesos' : ''}}">
                                    </p-checkbox>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </ng-template>
    </p-dataGrid>
</div>