button.delete {
  float:right;
  margin-top: 2px;
  margin-right: .8em;
  background-color: gray !important;
  color:white;
  font-family: Arial;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.sub-title-conf{
  line-height: 50px;
  font-family: 'palatino linotype', palatino, serif;
  font-size: 19px;
  font-weight: bold;
}

.div-conf-init{
  height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items:center;
}