<!-- titulo de la pagina -->
<div id="cs01" class="text_center title-page">
    Consecutivos Solicitados
</div>
<div id="cs02" class="text_center sub-title-page">
    Submódulo para <strong>consultar los consecutivos de correspondencia</strong> que han solicitado.
</div>
<br/>
<alert></alert>

<!-- panel principal -->
<div id="cs03" class="panel panel-primary panel_primary" *ngIf="init">

    <div id="cs04" class="panel-heading sub_panel_primary">
        <p class="sin_margin_botton"><i class="fa fa-fw fa-envelope"></i> Cantidad de Consecutivos: {{consecutivosPaginados?.datos?.totalRegistros}}</p>
    </div>

    <div id="cs05" class="panel-body padding_bottom3">

        <table class="width_100">
            <tr>
                <!-- filtro nomenclatura -->
                <td class="col-md-4 paddin_lef_zero">
                    <div id="cs06" class="margin_bottom5">
                        <p class="grey font_13 sin_margin font_12"><i class="fa fa-info-circle grey"></i> Campo de selección de múltiples ítems</p>
                        <p-multiSelect
                            id="nomenclatura"
                            [options]="init.nomenclaturas"
                            optionLabel="nombre"
                            defaultLabel="Nomenclaturas"
                            maxSelectedLabels="4"
                            selectedItemsLabel="{0} items seleccionados">
                        </p-multiSelect>
                    </div>                
                </td>

                <!-- filtro consecutivos -->
                <td class="col-md-4 paddin_lef_zero paddin_right_zero">
                    <div id="cs07" class="margin_bottom5">
                        <p class="grey font_13 sin_margin font_12"><i class="fa fa-info-circle grey"></i> Ingrese varios valores separados por ENTER</p>
                        <p-chips 
                            id="inConse"
                            inputId="inConse"
                            [(ngModel)]="filtroClone.consecutivos"
                            placeholder="Consecutivo">
                        </p-chips>
                    </div>
                </td>

                <!-- filtro estados -->
                <td class="col-md-4 paddin_right_zero">
                    <div id="cs08" class="margin_bottom5">
                        <p class="grey font_13 sin_margin font_12"><i class="fa fa-info-circle grey"></i> Campo de selección de múltiples ítems</p>
                        <p-multiSelect
                            id="estado"
                            [options]="init.estados"
                            optionLabel="nombre"
                            defaultLabel="Estado del consecutivo"
                            selectedItemsLabel="{0} items seleccionados">
                        </p-multiSelect>
                    </div>
                </td>
            </tr>
            <tr>
                <!-- filtro fecha inicial -->
                <td class="col-md-4 paddin_lef_zero">
                    <div id="cs09" class="margin_bottom5">
                        <p class="grey font_13 sin_margin font_12"><i class="fa fa-info-circle grey"></i> Fecha de solicitud inicial</p>
                        <p-calendar
                            id="fechaInicio"
                            name="fechaInicio"
                            dateFormat="dd/mm/yy"
                            [(ngModel)]="filtroClone.fechaInicial"
                            [monthNavigator]="true"
                            [yearNavigator]="true"
                            [showIcon]="true"
                            [style]="{'width':'100%'}"
                            [inputStyle]="{'width':'92%'}"
                            [locale]="es"
                            [yearRange]="init.rangeYear"
                            inputStyleClass="component_ng ng-valido"
                            required="false">
                        </p-calendar>
                    </div>                  
                </td>

                <!-- filtro fecha final -->
                <td class="col-md-4 paddin_lef_zero paddin_right_zero">
                    <div id="cs10" class="margin_bottom5">
                        <p class="grey font_13 sin_margin font_12"><i class="fa fa-info-circle grey"></i> Fecha de solicitud final</p>
                        <p-calendar
                            id="fechaFinal"
                            name="fechaFinal"
                            dateFormat="dd/mm/yy"
                            [(ngModel)]="filtroClone.fechaFinal"
                            [monthNavigator]="true"
                            [yearNavigator]="true"
                            [showIcon]="true"
                            [style]="{'width':'100%'}"
                            [inputStyle]="{'width':'92%'}"
                            [locale]="es"
                            [yearRange]="init.rangeYear"
                            inputStyleClass="component_ng ng-valido"
                            required="false">
                        </p-calendar>
                    </div>                  
                </td>

                <!-- filtro usuarios -->
                <td class="col-md-4 paddin_right_zero">
                    <div id="divUser" class="margin_bottom5">
                        <p class="grey font_13 sin_margin font_12"><i class="fa fa-info-circle grey"></i> Campo autocompletable</p>
                        <p-autoComplete
                            #user
                            id="user"
                            inputId="user"
                            [(ngModel)]="autocompleteUsers.valor"
                            [suggestions]="autocompleteUsers.itemsFilter"
                            (completeMethod)="autocompleteUsers.dropDownSearch($event)"
                            (onBlur)="autocompleteUsers.dropDownOnblur($event)"
                            [dropdown]="false"
                            [style]="{'width':'100%'}"
                            [inputStyle]="{'width':'100%'}"
                            placeholder="Usuario quien solicitó el consecutivo"
                            inputStyleClass="component_ng ng-valido"
                            required="false">
                            <ng-template let-item pTemplate="item">
                                <div class="ui-helper-clearfix autocomplete_item">
                                <div class="autocomplete_2tem">{{item}}</div>
                                </div>
                            </ng-template>
                        </p-autoComplete>
                    </div>
                </td>
            </tr>
        </table>

        <!-- btns filtrar-limpiar -->
        <div id="cs12" class="width_100 margin_bottom10 text-left">
            <button 
             id="btn01"
             (click)="consecutivosPaginados.filtrar(tblcc)"
             type="button"
             class="btn btn-primary"
             style="width: 90px; padding-left: 5px;"
             title="Clic aquí para ejecutar el filtro de búsqueda">
                <p class="sin_margin_botton"><i class="fa fa-fw fa-filter"></i> Filtrar</p>
            </button>

            <button 
             id="btn02"
             (click)="consecutivosPaginados.limpiarFiltro(tblcc)"
             type="button"
             style="width: 90px; margin-left: 20px; padding-left: 5px;"
             class="btn btn-default"
             title="Clic aquí para limpiar el filtro de búsqueda">
                <p class="sin_margin_botton"><i class="fa fa-fw fa-remove"></i> Limpiar</p>
            </button>
        </div>

        <!-- table consecutivos -->
        <p-dataTable
         id="tblcc"
         #tblcc
         [responsive]="true"
         [value]="consecutivosPaginados.registros"
         [totalRecords]="consecutivosPaginados.datos.totalRegistros"
         (onPage)="consecutivosPaginados.scrollerListener($event)"
         [alwaysShowPaginator]="consecutivosPaginados.datos.totalRegistros > consecutivosPaginados.rowsDefault"
         [rowsPerPageOptions]="consecutivosPaginados.rowsPerPageOptions"
         [rows]="consecutivosPaginados.rowsDefault"
         [paginator]="true"
         [lazy]="true"
         emptyMessage="No se encontraron consecutivos de correspondencia."
         rowHover="true">
            <p-column header="Consecutivo" field="consecutivo" [style]="{'width':'10%','text-align':'center'}"></p-column>
            <p-column header="Nomenclatura" field="nomenclatura" [style]="{'width':'15%','text-align':'center'}"></p-column>
            <p-column header="Usuario quien solicitó el consecutivo" field="usuarioSolicito" [style]="{'width':'40%','text-align':'center'}"></p-column>
            <p-column header="Fecha de Solicitud" field="fechaSolicitud" [style]="{'width':'15%','text-align':'center'}"></p-column>
            <p-column header="Estado" field="estadoConsecutivo" [style]="{'width':'10%','text-align':'center'}"></p-column>
            <p-column [style]="{'width':'5%','text-align':'center'}" header="Editar">
                <ng-template let-item="rowData" pTemplate="body">
                <button type="button" pButton icon="fa-pencil"></button>
                </ng-template>
            </p-column>
            <p-column [style]="{'width':'6%','text-align':'center'}" header="Detalle">
                <ng-template let-item="rowData" pTemplate="body">
                <button type="button" pButton icon="glyphicon glyphicon-share"></button>
                </ng-template>
            </p-column>
        </p-dataTable>

        <!-- Exportar Excel -->
        <div id="cs13"  class="padding_top15 margin_bottom5 text-right width_100">
            <button
             id="bnt03"
             type="button"
             class="btn btn-primary btn_excel"
             title="Clic aquí para exportar en excel los consecutivos de correspondencia">
                <p class="sin_margin_botton"><i class="fa fa-file-excel-o"></i> Exportar Excel</p>
            </button>
        </div>
    </div>
</div>