<!-- titulo de la pagina -->
<div class="text_center title-page back-ground-title">
  Seguridad del Sistema
</div>
<br/>

<!-- tab items visualizar -->
<ul class="nav nav-tabs">
  <li role="presentation"><a (click)="showTabItem(ADMIN_ROLES)" [ngClass]="(ADMIN_ROLES == itemSeleccionado) ? 'tab_seleccionado' : 'tab_no_seleccionado'"><i class="fa fa-fw fa-wrench"></i> Administración de Roles</a></li>
  <li role="presentation"><a (click)="showTabItem(ADMIN_USER)" [ngClass]="(ADMIN_USER == itemSeleccionado) ? 'tab_seleccionado' : 'tab_no_seleccionado'"><i class="fa fa-user"></i> Administración de Usuarios</a></li>
</ul>

<!-- panel cuando no hay item seleccionado -->
<div id="pn_em" *ngIf="!itemSeleccionado" class="panel panel-default panel_init">
  <div id="pn_em01" class="width_100 text-center font_30 margin_top_30">
    <i class="glyphicon glyphicon-info-sign grey"></i>
  </div>

  <div id="pn_em02" class="component_center width_80">
    <p class="sub-title-page background_white text-left grey">
      <strong class="color_blue">Administración de Roles:</strong> Este ítem permite la creación, edición y eliminación para los <strong>ROLES</strong>      del sistema, cada ROL se le debe asignar sus propios privilegios, cada privilegio es permitir que el usuario pueda ingresar a un módulo o submódulo específico.
    </p>
  </div>
  <br/>

  <div id="pn_em03" class="component_center width_80">
    <p class="sub-title-page background_white text-left grey">
      <strong class="color_blue">Administración de Usuarios:</strong> Este ítem permite la creación, edición, eliminación y restauración de contraseña para los <strong>USUARIOS</strong> del sistema, para la creación del usuario se debe tener definido el ROL que se le asignará.
    </p>
  </div>
</div>

<!-- panel para el item de admin ROLE -->
<div class="panel panel-default" *ngIf="ADMIN_ROLES == itemSeleccionado">
  <app-admin-roles></app-admin-roles>
</div>

<!-- panel para el item de admin USER -->
<div class="panel panel-default" *ngIf="ADMIN_USER == itemSeleccionado">
  <app-admin-users></app-admin-users>
</div>

<!-- modal para la visualizacion del los privilegios para un ROLE -->
<modal-role-privilegios></modal-role-privilegios>

<!-- ventana de confirmacion para las configuraciones -->
<p-confirmDialog width="500" acceptLabel="Aceptar" rejectLabel="Cancelar" id="mdl_confirm_seguridad"></p-confirmDialog>