<!-- titulo de la pagina -->
<div class="text_center sub-title-page_conf">
    Administración Roles
</div>
<br/>

<!-- tabla con la lista de roles parametrizados -->
<div *ngIf="!isCreacionRole">
    <div class="cpm_right">
        <button type="submit" class="btn btn-primary" (click)="abrirPanelCrearRol()">Crear ROL</button>
    </div>
    <p-dataTable [value]="roles" [responsive]="true" [rows]="10" [paginator]="true" selectionMode="single" emptyMessage="No hay roles registrados en el sistema.">
        <p-column header="Lista de Roles parametrizados en el sistema" field="nombre" [style]="{'text-align':'center'}"></p-column>
        <p-column [style]="{'width':'5%'}">
            <ng-template let-item="rowData" pTemplate="body">
                <button class="delete">X</button>
            </ng-template>
        </p-column>
    </p-dataTable>
</div>

<!-- panel creacion ROLE -->
<div *ngIf="isCreacionRole">

    <!-- formulario del nombre del ROL-->
    <form class="form-inline" name="form" #f="ngForm" (keydown.enter)="$event.preventDefault()" novalidate style="padding:4px">
        <div class="form-group">
            <label for="tnombre">Nombre del Rol*:</label>
            <input type="text" size="60" class="form-control" placeholder="Este campo es requerido" maxlength="100" required/>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button> &nbsp;
        <button type="submit" class="btn btn-default" (click)="cerrarPanelRoles()">Cancelar</button>
    </form>
    
    <!-- datagrid con los roles del sistema-->
    <p-dataGrid [value]="modulos">
        <p-header>
            Seleccione los ítems que tendrá privilegios este ROL
        </p-header>

        <!-- se recorre los modulos-->
        <ng-template let-modulo pTemplate="modulo">

            <!-- por cada modulo se muestra un panel-->
            <div class="panel panel-info admin_modulos">

                <!-- encabezado del panel-->
                <div class="panel-heading text_center center-all sin_padding">
                    <i [ngClass]="(modulo.consecutivo == 1)?'fa fa-fw fa-envelope':(modulo.consecutivo == 2)?'fa fa-fw fa-folder-open':(modulo.consecutivo == 3)?'fa fa-fw fa-graduation-cap':(modulo.consecutivo == 4)?'fa fa-fw fa-wrench':''"></i>{{modulo.nombre}}
                </div>

                <!-- cuerpo del panel-->
                <div class="panel-body sin_padding">
                    <ul class="list-group sin_margin_bottom">

                        <!-- se recorre los items de este modulo-->
                        <li *ngFor="let item of modulo.itemsMenu" class="list-group-item items_border">

                            <!-- por cada items se muestra un check-->
                            <p-checkbox name="nameItems" [(ngModel)]="item.seleccionado" binary="true" label="{{item.nombreItem}}" (onChange)="onchangeItem(item)"></p-checkbox>
                            <ul class="list-group sin_margin_bottom" *ngIf="item.seleccionado && item.privilegiosEspecificosDTO">

                                <!-- se recorre los privilegios especificos de este item-->
                                <li *ngFor="let especifico of item.privilegiosEspecificosDTO" class="list-group-item items_border" style="border: 0px">

                                    <!-- por cada privilegio especifico se muestra un check-->
                                    <p-checkbox name="nameEspecifico" [(ngModel)]="especifico.seleccionado" binary="true"
                                       label="{{especifico.tipoPrivilegio == 1 ? '¿Este Rol es para funcionarios quién atiende al solicitante?' :
                                                especifico.tipoPrivilegio == 2 ? '¿Este Rol es para funcionarios quién elabora el certificado?' : 
                                                especifico.tipoPrivilegio == 3 ? 'Permitir ANULAR, ACTIVAR abogados' :
                                                especifico.tipoPrivilegio == 4 ? 'Permitir ELIMINAR procesos' :
                                                especifico.tipoPrivilegio == 5 ? 'Permitir EDITAR procesos' :
                                                especifico.tipoPrivilegio == 6 ? 'Permitir TRANSFERIR procesos' : ''}}">
                                    </p-checkbox>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </ng-template>
    </p-dataGrid>
</div>