  
<div class="text_center sub-title-page_conf">
  Administración Roles
</div>

<div style="padding:4px" *ngIf="!crearRol">
    <div style="padding:4px">
<button type="submit" class="btn btn-primary" (click)="abrirPanelCrearRol(true)">Parametrizar nuevo ROL</button>
</div>



<p-dataTable [responsive]="true" selectionMode="single" emptyMessage="No hay roles registrados en el sistema.">
    <p-column  header="Nombre del Rol"></p-column>
   
    <p-column [style]="{'width':'5%'}">
      <ng-template pTemplate="body">
        <button class="delete">X</button>
      </ng-template>
    </p-column>
  </p-dataTable>
</div>    






<div style="padding:4px" *ngIf="crearRol">
<!-- formulario para crear o editar el item-->
  <form class="form-inline" name="form" #f="ngForm" (keydown.enter)="$event.preventDefault()" novalidate>
    <div class="form-group">

      <!-- label -->
      <label for="tnombre">&nbsp;Nombre del Rol*:</label>

      <!-- input -->
      <input type="text" size="60" 
      class="form-control" placeholder="Este campo es requerido" maxlength="100" required/>
    </div>

    <!-- button guardar -->
    <button type="submit" class="btn btn-primary">Guardar</button>
    <button type="submit" class="btn btn-primary" (click)="abrirPanelCrearRol(false)">Cancelar</button>
  </form>
<br/>
<p-dataGrid [value]="userAutenticado.modulos" [rows]="1">
    <p-header>
        <h5 class="panel-title">Seleccione los privilegios de cada modulo</h5>
    </p-header>
    <ng-template let-modulo pTemplate="modulo">
        <div style="padding:3px;width: 50%" class="ui-g-12 ui-md-3" >

            <div class="panel panel-info" style="margin-bottom:0%">
                <div class="panel-heading text_center center-all" style="padding: 0px;">
                    <table>
                        <tr>
                            <td>
                                <i [ngClass]="(modulo.idModulo == 1)?'fa fa-fw fa-envelope':(modulo.idModulo == 2)?'fa fa-fw fa-folder-open':(modulo.idModulo == 3)?'fa fa-fw fa-graduation-cap':(modulo.idModulo == 4)?'fa fa-fw fa-wrench':''"></i>
                            </td>
                            <td>
                                <h3 class="panel-title">{{modulo.nombreModulo}}</h3>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-body" style="padding: 2px">
                    <ul class="list-group" style="margin-bottom:0%">
                        <li *ngFor="let item of modulo.itemsModulo" class="list-group-item" style="border: 1px solid #ddd; padding: 3px 15px">
                            <p-checkbox name="groupname" value="val1" label="{{item.nombreItem}}"></p-checkbox>
                               <ul class="list-group" style="margin-bottom:0%" *ngIf="item.idItem == 8">
                                   <li class="list-group-item" style="border: 0px; padding: 3px 15px">
                                       <p-checkbox name="groupname" value="val1" label="¿Este Rol es para funcionarios quién atiende al solicitante?"></p-checkbox>
                                   </li>    
                                    <li class="list-group-item" style="border: 0px; padding: 3px 15px">
                                        <p-checkbox name="groupname" value="val1" label="¿Este Rol es para funcionarios quién elabora el certificado?"></p-checkbox>
                                    </li> 
                               </ul>  

                                <ul class="list-group" style="margin-bottom:0%" *ngIf="item.idItem == 12">
                                   <li class="list-group-item" style="border: 0px; padding: 3px 15px">
                                       <p-checkbox name="groupname" value="val1" label="Permitir ANULAR, ACTIVAR abogados"></p-checkbox>
                                   </li>    
                                    <li class="list-group-item" style="border: 0px; padding: 3px 15px">
                                        <p-checkbox name="groupname" value="val1" label="Permitir ELIMINAR procesos"></p-checkbox>
                                    </li> 
                                   <li class="list-group-item" style="border: 0px; padding: 3px 15px">
                                       <p-checkbox name="groupname" value="val1" label="Permitir EDITAR procesos"></p-checkbox>
                                   </li>    
                                    <li class="list-group-item" style="border: 0px; padding: 3px 15px">
                                        <p-checkbox name="groupname" value="val1" label="Permitir TRANSFERIR procesos"></p-checkbox>
                                    </li>                                     
                               </ul>

                        </li>
                    </ul>

                    

                </div>
            </div>

        </div>
    </ng-template>
</p-dataGrid>
</div>