<!-- titulo de la pagina -->
<div class="text_center sub-title-page_conf">
    {{crearEditarUser ? crearEditarUser.idUsuario ? 'Administración de Usuarios / Editar Usuario' : 'Administración de Usuarios / Crear Usuario' : 'Administración de Usuarios'}}
</div>
<alert></alert>

<!-- tabla con la lista de usuarios parametrizados -->
<div *ngIf="!crearEditarUser">
    <div class="cpm_right">
        <button type="button" class="btn btn-primary" (click)="abrirPanelCrearUser()">Crear Usuario</button>
    </div>
    <p-dataTable [value]="usuarios" [responsive]="true" [rows]="10" [paginator]="true" emptyMessage="No hay usuarios registrados en el sistema." selectionMode="single">
        <p-column header="Nombre completo" field="nombre" [style]="{'text-align':'center'}"></p-column>
        <p-column header="Usuario de ingreso" field="nombreUsuario" [style]="{'text-align':'center'}"></p-column>
        <p-column header="Rol asignado" field="nombreRole" [style]="{'text-align':'center'}">
            <ng-template let-item="rowData" pTemplate="body">
                <a class="link_css" (click)="verDetalleRol(item)">{{item.nombreRole}}</a>
            </ng-template>
        </p-column>
        <p-column header="¿Es abogado?" field="esAbogado" [style]="{'width':'10%','text-align':'center'}">
            <ng-template let-item="rowData" pTemplate="body">
                {{item.esAbogado == 1 ? "Si" : "No"}}
            </ng-template>
        </p-column>
        <p-column [style]="{'width':'5%','text-align':'center'}" header="Editar">
            <ng-template let-item="rowData" pTemplate="body">
                <span class="glyphicon glyphicon-edit cursor-manito" (click)="abrirPanelEditarUser(item)" title="Click aqui para editar los valores de este usuario"></span>
            </ng-template>
        </p-column>
        <p-column [style]="{'width':'6%','text-align':'center'}" header="Eliminar">
            <ng-template let-item="rowData" pTemplate="body">
                <span class="glyphicon glyphicon-trash cursor-manito" (click)="eliminarUser(item)" title="Click aqui para eliminar este usuario del sistema"></span>
            </ng-template>
        </p-column>
        <p-column [style]="{'width':'9%','text-align':'center'}" header="Restablecer contraseña">
            <ng-template let-item="rowData" pTemplate="body">
                <span class="glyphicon glyphicon-lock cursor-manito" (click)="restablecerClave(item)" title="Click aqui para restablecer la contraseña de este usuario"></span>
            </ng-template>
        </p-column>
    </p-dataTable>
</div>

<!-- panel creacion, edicion USER -->
<br *ngIf="crearEditarUser" />
<div *ngIf="crearEditarUser">

    <!-- formulario de los atributos del USER-->
    <form name="form" #f="ngForm" (ngSubmit)="onSubmit() && f.form.valid" (keydown.enter)="$event.preventDefault()" novalidate>

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Datos del usuario</h3>
            </div>
            <div class="panel-body">
                <div class="row">

                    <!-- nombre completo-->
                    <div class="form-group col-md-6">
                        <label for="nombreUser">Nombre completo: *</label>
                        <input type="text" [(ngModel)]="crearEditarUser.nombre" name="nombreUser" #nombreUser="ngModel" 
                         [ngClass]="(submitted && !nombreUser.valid) ? 'form-control input-invalido':'form-control input-valido'"
                         maxlength="100" placeholder="Este campo es requerido" required/>                          
                    </div>

                    <!-- usuario de ingreso-->
                    <div class="form-group col-md-6">
                        <label for="userIngreso">Usuario de ingreso: *</label>
                        <input type="text" [(ngModel)]="crearEditarUser.nombreUsuario" name="userIngreso" #userIngreso="ngModel" 
                         [ngClass]="(submitted && !userIngreso.valid) ? 'form-control input-invalido':'form-control input-valido'"
                         maxlength="30" placeholder="Este campo es requerido" required/>                          
                    </div>

                    <!-- rol asignado-->
                    <div class="form-group col-md-6">
                        <label for="rol">ROL: *</label>
                        <select name="rol" [(ngModel)]="crearEditarUser.roles"
                         [ngClass]="(submitted && crearEditarUser.roles == selectValueDefaultNumber) ? 'form-control input-invalido':'form-control input-valido'" required>
                            <option value="{{selectValueDefaultNumber}}" disabled>Este campo es requerido</option>
                            <option *ngFor="let rol of roles" value="{{rol.idRole}}">{{rol.nombre}}</option>
                        </select>
                    </div>

                    <!-- El usuario es un abogado-->
                    <div class="form-group col-md-6">
                        <br/>
                        <p-checkbox name="abogado" [(ngModel)]="crearEditarUser.esAbogado" binary="true"></p-checkbox>
                        <label for="abogado">¿El usuario es un abogado? </label>
                    </div>
                </div>
            </div>
        </div>

        <!-- mensaje de la clave por default-->
        <p *ngIf="!crearEditarUser.idUsuario" class="title_center">El valor de la contraseña del nuevo usuario es la <strong>contraseña por defecto</strong>, el usuario deberá cambiar esta contraseña por un nuevo valor que cumpla con las políticas del sistema.</p>

        <!-- buttons crear o editar usuario y cancelar-->
        <br *ngIf="!crearEditarUser.idUsuario"/>
        <div style="text-align: center;">
            <button type="submit" class="btn btn-primary">{{crearEditarUser.idUsuario ? 'Editar Usuario' : 'Crear Usuario' }}</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-default" (click)="cerrarPanelUser()" style="width: 115px">Cancelar</button>
        </div>
    </form>
</div>