<!-- raiz del proyecto cuando el user esta autenticado-->
<div id="wrapper" *ngIf="userAutenticado">

    <!-- header - menu - inicio -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color: #FFFFFF; z-index: 1;">

        <!-- header inicio -->
        <div>
            <!-- header izquierda- logo y button para dispositivo movil -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">AdminFree</a>
            </div>

            <!-- header derecha- notificaciones y usuario  -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a class="cursor-manito">Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li class="divider"></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle cursor-manito" data-toggle="dropdown"><i class="fa fa-user"></i> {{userAutenticado?.nombre}} <b class="caret"></b></a>
                    <ul class="dropdown-menu" style="min-width:260px">
                        <li>
                            <a (click)="showCambiarClave()" class="cursor-manito"><i class="fa fa-fw fa-gear"></i> Cambiar Contraseña</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a (click)="showHome()" class="cursor-manito"><i class="fa fa-fw fa-file"></i> Home </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a (click)="cerrarSesion()" class="cursor-manito"><i class="fa fa-fw fa-power-off"></i> Cerrar Sesión</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- header final -->

        <!-- menu - inicio -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav" style="background-color: #F1F6FA;">
                <li>
                    <a class="cursor-manito" data-toggle="collapse" data-target="#subAdmin"><i class="fa fa-fw fa-dashboard"></i> Administrador <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="subAdmin" class="collapse">
                        <li>
                            <a class="cursor-manito" (click)="showConfigIniciales()">Configuraciones Iniciales</a>
                        </li>
                        <li>
                            <a class="cursor-manito" (click)="showCasasResidentes()">Casas y Residentes</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="charts.html"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>
                </li>
                <li>
                    <a href="tables.html"><i class="fa fa-fw fa-table"></i> Tables</a>
                </li>
                <li>
                    <a href="forms.html"><i class="fa fa-fw fa-edit"></i> Forms</a>
                </li>
                <li>
                    <a href="bootstrap-elements.html"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a>
                </li>
                <li>
                    <a href="bootstrap-grid.html"><i class="fa fa-fw fa-wrench"></i> Bootstrap Grid</a>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="demo" class="collapse">
                        <li>
                            <a href="#">Dropdown Item</a>
                        </li>
                        <li>
                            <a href="#">Dropdown Item</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Blank Page</a>
                </li>
                <li>
                    <a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>
                </li>
            </ul>
        </div>
        <!-- menu - final -->
    </nav>
    <!-- header - menu - final -->

    <!-- contenido app-->
    <div id="page-wrapper">
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>

    <!-- footer app-->
    <app-footer></app-footer>
</div>

<!-- se muestra el login cuando el user no esta autenticado-->
<div *ngIf="!userAutenticado">
    <img src="../../assets/img/vivook_logo.jpg" class="img-responsive img-center" />
    <hr class="without_marge" />
    <alert></alert>
    <app-login></app-login>
    <app-footer></app-footer>
</div>

<!-- es el modal loading para las solicitudes asyncronas-->
<app-loading></app-loading>