<!-- raiz del proyecto cuando el user esta autenticado-->
<div id="wrapper" *ngIf="userAutenticado">

    <!-- header - menu - inicio -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color: #FFFFFF; z-index: 1;">

        <!-- header inicio -->
        <div>
            <!-- header izquierda- logo y button para dispositivo movil -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">AdminFree</a>
            </div>

            <!-- header derecha- notificaciones y usuario  -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a class="cursor-manito">Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li class="divider"></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle cursor-manito" data-toggle="dropdown"><i class="fa fa-user"></i> {{userAutenticado?.usuario?.nombre}} <b class="caret"></b></a>
                    <ul class="dropdown-menu" style="min-width:260px">
                        <li>
                            <a (click)="showCambiarClave()" class="cursor-manito"><i class="fa fa-fw fa-gear"></i> Cambiar Contraseña</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a (click)="showHome()" class="cursor-manito"><i class="fa fa-fw fa-home"></i> Home </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a (click)="cerrarSesion()" class="cursor-manito"><i class="fa fa-fw fa-power-off"></i> Cerrar Sesión</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- header final -->

        <!-- menu - inicio -->
        <div class="collapse navbar-collapse navbar-ex1-collapse" *ngIf="userAutenticado.modulos">
            <ul class="nav navbar-nav side-nav" style="background-color: #F1F6FA;">
                <li *ngFor="let modulo of userAutenticado.modulos">
                    <a class="cursor-manito" data-toggle="collapse" [attr.data-target]="'#modulo' + modulo.idModulo" (click)="clickModulo(modulo)">
                        <i [ngClass]="(modulo.idModulo == 1)?'fa fa-fw fa-envelope':(modulo.idModulo == 2)?'fa fa-fw fa-folder-open':(modulo.idModulo == 3)?'fa fa-fw fa-graduation-cap':(modulo.idModulo == 4)?'fa fa-fw fa-wrench':''">
                        </i> {{modulo.nombreModulo}} <i [ngClass]="(modulo.cerradoModulo)?'fa fa-fw fa-caret-right':'fa fa-fw fa-caret-down'"></i></a>
                    <ul [attr.id]="'modulo' + modulo.idModulo" class="collapse in">
                        <li *ngFor="let item of modulo.itemsModulo">
                            <a class="cursor-manito" (click)="redireccionar(item.urlRouter)"><i class="fa fa-fw fa-angle-double-right"></i> {{item.nombreItem}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- menu - final -->
    </nav>
    <!-- header - menu - final -->

    <!-- contenido app-->
    <div id="page-wrapper">
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>

    <!-- footer app-->
    <app-footer></app-footer>
</div>

<!-- se muestra el login cuando el user no esta autenticado-->
<div *ngIf="!userAutenticado">
    <img src="../../assets/img/vivook_logo.jpg" class="img-responsive img-center" />
    <hr class="without_marge" />
    <alert></alert>
    <app-login></app-login>
    <app-footer></app-footer>
</div>

<!-- es el modal loading para las solicitudes asyncronas-->
<app-loading></app-loading>